body {
  margin: 0;
  padding: 0;
  background-color: #f0f2f5;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  
}

button{
  background:none;
  border: none;
  cursor:pointer;
  transition-duration: 0.5s;
}

a{
  text-decoration: none;
}
/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
